<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<dict>
		<key>zombieWalk</key>
		<dict>
			<key>delayPerUnit</key>
			<real>0.40000000596046448</real>
			<key>frames</key>
			<array>
				<dict>
					<key>delayUnits</key>
					<real>1</real>
					<key>notification</key>
					<dict/>
					<key>offset</key>
					<string>{0, 0}</string>
					<key>spriteframe</key>
					<string>zombie_walk_04</string>
				</dict>
				<dict>
					<key>delayUnits</key>
					<real>1</real>
					<key>notification</key>
					<dict/>
					<key>offset</key>
					<string>{0, 0}</string>
					<key>spriteframe</key>
					<string>zombie_walk_02</string>
				</dict>
				<dict>
					<key>delayUnits</key>
					<real>1</real>
					<key>notification</key>
					<dict/>
					<key>offset</key>
					<string>{0, 0}</string>
					<key>spriteframe</key>
					<string>zombie_walk_03</string>
				</dict>
				<dict>
					<key>delayUnits</key>
					<real>1</real>
					<key>notification</key>
					<dict/>
					<key>offset</key>
					<string>{0, 0}</string>
					<key>spriteframe</key>
					<string>zombie_walk_01</string>
				</dict>
			</array>
			<key>loop</key>
			<true/>
			<key>loops</key>
			<integer>1</integer>
			<key>restoreOriginalFrame</key>
			<false/>
		</dict>
	</dict>
	<key>properties</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>spritesheets</key>
		<array>
			<string>zombieWalk_UntitledSheet.plist</string>
		</array>
	</dict>
</dict>
</plist>
