<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>zombie_walk_01</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{53, 46}, {26, 56}}</string>
			<key>spriteOffset</key>
			<string>{2, -10}</string>
			<key>spriteSize</key>
			<string>{26, 56}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{92, 0}, {26, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zombie_walk_02</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{55, 48}, {27, 55}}</string>
			<key>spriteOffset</key>
			<string>{4.5, -11.5}</string>
			<key>spriteSize</key>
			<string>{27, 55}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{32, 0}, {27, 55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zombie_walk_03</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{53, 46}, {26, 56}}</string>
			<key>spriteOffset</key>
			<string>{2, -10}</string>
			<key>spriteSize</key>
			<string>{26, 56}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{64, 0}, {26, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>zombie_walk_04</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{55, 48}, {27, 55}}</string>
			<key>spriteOffset</key>
			<string>{4.5, -11.5}</string>
			<key>spriteSize</key>
			<string>{27, 55}</string>
			<key>spriteSourceSize</key>
			<string>{128, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {27, 55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>GeneratedWith</key>
		<string>SpriteHelper</string>
		<key>format</key>
		<integer>3</integer>
	</dict>
</dict>
</plist>
